.csRadio__header{
    font-family: var(--font-family);
}

.csRadio__header-logo-GraisePraise img{
    flex: 1;
    width: 100%;
    height: 600px;
    object-fit: none;
}
.csRadio__header-content-GraisePraise{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 32%;
    left: 41%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    font-weight: 800;
    color: #ffffff;
}

.csRadio__header-content-text-GraisePraise{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 35%;
    left: 14%;
    color: #ffffff;
}

.csRadio__header-content-t-GraisePraise {
    animation: rotate 3s;
}

.csRadio__header-button-GraisePraise {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 55%;
    left: 363px;
    background-color: #008CBA; 
    border: none;
    border-radius: 10px;
    color: white;
     padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    margin: 4px 2px;
    cursor: pointer;
}

.button2:hover{
    background-color: white;
    color: black;
}

.button2 {
    background-color: #066fb7; 
    color: white; 
    border: 2px solid ;
    animation: rotateX 3s;
  }
 

@keyframes rotateX{
    0%{
        transform: translateY(160px);
    }

    100%{
        transform: translateY(0px);
    }
    
} 

@keyframes rotate{
    0%{
        transform: translateY(-160px);
    }

    100%{
        transform: translateY(0px);
    }
    
    
}
@media screen and (max-width: 1800px) {
    .csRadio__header-content-GraisePraise{
        top: 32%;
        left: 42%;
        font-size: 45px;
        font-weight: 800;
        text-align: center;
    }
    .csRadio__header-content-text-GraisePraise{
        top: 35%;
        left: 15%;
        font-size: 15px;
        
    }
    .csRadio__header-button-GraisePraise {
        top: 55%;
        left: 20%;
    }
}
@media screen and (max-width: 1700px) {
    .csRadio__header-content-GraisePraise{
        top: 32%;
        left: 30%;
    }
    .csRadio__header-content-text-GraisePraise{
        top: 35%;
        left: 1%;
        font-size: 15px;
        
    }
    .csRadio__header-button-GraisePraise {
        top: 50%;
        left: 7%;
    }
}
@media screen and (max-width: 1500px) {
    .csRadio__header-content-GraisePraise{
        top: 32%;
        left: 31%;
        font-size: 40px;
    }
    .csRadio__header-content-text-GraisePraise{
        top: 35%;
        font-size: 15px;
        
    }
    .csRadio__header-button-GraisePraise {
        top: 50%;
        left: 7%;
    }
}
@media screen and (max-width: 1400px) {
    .csRadio__header-content-GraisePraise{
        top: 53%;
        left: 33%;
        font-size: 40px;
    }
    .csRadio__header-content-text-GraisePraise{
        top: 53%;
        font-size: 15px;
        
    }
    .csRadio__header-button-GraisePraise {
        top: 75%;
        left: 8%;
    }
}
@media screen and (max-width: 1400px) {
    .csRadio__header-content-GraisePraise{
        top: 53%;
        left: 33%;
        font-size: 40px;
    }
    .csRadio__header-content-text-GraisePraise{
        top: 53%;
        font-size: 15px;
        
    }
    .csRadio__header-button-GraisePraise {
        top: 75%;
        left: 8%;
    }
}

@media screen and (max-width: 1300px) {
    .csRadio__header-content-GraisePraise{
        top: 32%;
        left: 32%;
        font-size: 35px;
    }
    .csRadio__header-content-text-GraisePraise{
        top: 35%;
        font-size: 15px;
        
    }
    .csRadio__header-button-GraisePraise {
        top: 50%;
        left: 8%;
    }
}
@media screen and (max-width: 1200px) {
    .csRadio__header-content-GraisePraise{
        top: 32%;
        left: 32%;
        font-size: 30px;
    }
    .csRadio__header-content-text-GraisePraise{
        top: 35%;
        font-size: 15px;
        
    }
    .csRadio__header-button-GraisePraise {
        top: 50%;
        left: 8%;
    }
  
}



@media screen and (max-width: 900px) {
    .csRadio__header-content-GraisePraise{
        top: 30%;
        left: 50%;

    }
    .csRadio__header-content-text-GraisePraise{
        top: 40%;
        left: 14%;
        
    }
    .csRadio__header-button-GraisePraise {
        top: 52%;
        left: 40%;
    }
  
}


@media screen and (max-width: 800px) {
    .csRadio__header-content-GraisePraise{
        top: 38%;
        left: 50%;
    }
    .csRadio__header-content-text-GraisePraise{
        top: 50%;
        left: 14%;
    }
    .csRadio__header-button-GraisePraise {
        top: 65%;
        left: 40%;
    }
  
}

@media screen and (max-width: 600px) {
    .csRadio__header-content-GraisePraise{
        top: 40%;
        left: 50%;
        font-size: 35px;
    }
    .csRadio__header-content-text-GraisePraise{
        top: 50%;
        left: 14%;
        
    }
    .csRadio__header-button-GraisePraise {
        top: 77%;
        left: 30%;
    }
  
}
@media screen and (max-width: 500px) {
    .csRadio__header-content-GraisePraise{
        top: 38%;
        left: 50%;
        font-size: 35px;
    }
    .csRadio__header-content-text-GraisePraise{
        top: 47%;
        left: 14%;
        
    }
    .csRadio__header-button-GraisePraise {
        top: 70%;
        left: 30%;
    }
  
}

@media screen and (max-width: 400px) {
    .csRadio__header-content-GraisePraise{
        top: 40%;
        left: 50%;
    }  
}

@media screen and (max-width: 380px) {
    .csRadio__header-content-GraisePraise{
        top: 48%;
        left: 50%;
        font-size: 30px;
        font-weight: 800;
        color: #ffffff;
        text-align: center;
    }  
    .csRadio__header-content-text-GraisePraise{
        position: absolute;
        top: 55%;
        left: 14%;
        color: #ffffff;
        font-size: 15px;
        
    }
    .csRadio__header-button-GraisePraise {
        position: absolute;
        top: 85%;
        left: 25%;
    }
}


 


