.csRadio__header{
    font-family: var(--font-family);
}

.csRadio__header-logo-Urbanmix img{
    flex: 1;
    width: 100%;
    height: 600px;
    object-fit: none;
}


.csRadio__header-content-text-Urbanmix{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 35%;
    left: 14%;
    color: #ffffff;
}


.csRadio__header-content-UrbanMix{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 32%;
    left: 34%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    font-weight: 800;
    color: #ffffff;
}

.csRadio__header-button-Urbanmix {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 52%;
    left: 363px;
    background-color: #008CBA; 
    border: none;
    border-radius: 10px;
    color: white;
     padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    margin: 4px 2px;
    cursor: pointer;
}

.button2:hover{
    background-color: white;
    color: black;
}

.button2 {
    background-color: #066fb7; 
    color: white; 
    border: 2px solid ;
  }
 
 .csRadio__header-content-t-UrbanMix{
    animation: rotate 3s;
 }

  @keyframes rotate{
    0%{
        transform: translateY(-160px);
    }

    100%{
        transform: translateY(0px);
    }
    
}

@media screen and (max-width: 1300px) {

    .csRadio__header-logo-UrbanMix img{
        flex: 1;
        width: 100%;
        height: 600px;
        object-fit: none;
    }
    .csRadio__header-content-UrbanMix{
        top: 40%;
        left: 50%;
        font-size: 50px;
        font-weight: 800;
        text-align: center;
    }
    .csRadio__header-content-text-Urbanmix{
        position: absolute;
        top: 50%;
        left: 25%;
        font-size: 15px;
        
    }
    .csRadio__header-button-Urbanmix {
        
        top: 50%;
        left: 43%;
    }
  
}
@media screen and (max-width: 1800px) {
    .csRadio__header-content-UrbanMix{
        top: 35%;
        left: 37%;
        font-size:  50px;
        font-weight: 800;
        text-align: center;
    }
    .csRadio__header-content-text-Urbanmix{
        top: 40%;
        left: 15%;
    }
    .csRadio__header-button-Urbanmix {
        top: 60%;
        left: 20%;
    }
  
}
@media screen and (max-width: 1700px) {
    .csRadio__header-content-UrbanMix{
        top: 35%;
        left: 24%;
        font-size:  50px;
        font-weight: 800;
        text-align: center;
    }
    .csRadio__header-content-text-Urbanmix{
        top: 40%;
        left: 0%;
    }
    .csRadio__header-button-Urbanmix {
        top: 60%;
        left: 5%;
    }
  
}
@media screen and (max-width: 1600px) {
    .csRadio__header-content-UrbanMix{
        top: 35%;
        left: 30%;
        font-size:  50px;
        font-weight: 800;
        text-align: center;
    }
    .csRadio__header-content-text-Urbanmix{
        top: 40%;
        left: 0%;
    }
    .csRadio__header-button-Urbanmix {
        top: 60%;
        left: 7%;
    }
  
}
@media screen and (max-width: 1400px) {
    .csRadio__header-content-UrbanMix{
        top: 50%;
        left: 30%;
    }
    .csRadio__header-content-text-Urbanmix{
        top: 53%;
        left: 0%;
        
    }
    .csRadio__header-button-Urbanmix {
        top: 80%;
        left: 6%;
    }
  
}



@media screen and (max-width: 1200px) {
    .csRadio__header-content-UrbanMix{
        top: 30%;
        left: 35%;
    }
    .csRadio__header-content-text-Urbanmix{
        top: 35%;
        left: 0%;
        
    }
    .csRadio__header-button-Urbanmix {
        top: 55%;
        left: 8%;
    }
  
}

@media screen and (max-width: 1000px) {
    .csRadio__header-content-UrbanMix{
        top: 35%;
        left: 50%;
    }
    .csRadio__header-content-text-Urbanmix{
        top: 45%;
        left: 20%;
        font-size: 15px;
        
    }
    .csRadio__header-button-Urbanmix{
        top: 60%;
        left: 40%;
    }
  
}

@media screen and (max-width: 900px) {
    .csRadio__header-content-UrbanMix{
        top: 32%;
        left: 50%;
        font-size: 45px;
        font-weight: 800;
        text-align: center;
    }
    .csRadio__header-content-text-Urbanmix{
        position: absolute;
        top: 42%;
        left: 14%;
        font-size: 15px;
        
    }
    .csRadio__header-button-Urbanmix{
        top: 55%;
        left: 40%;
    }
  
}


@media screen and (max-width: 800px) {
    .csRadio__header-content-UrbanMix{
        top: 38%;
        left: 50%;
    }
    .csRadio__header-content-text-Urbanmix{
        top: 43%;
        left: 12%;
        font-size: 15px;
        
    }
    .csRadio__header-button-Urbanmix{
        top: 60%;
        left: 35%;
    }
  
}

@media screen and (max-width: 500px) {
    .csRadio__header-content-UrbanMix{
        top: 38%;
        left: 50%;
        font-size: 40px;
    }
    .csRadio__header-content-text-Urbanmix{
        position: absolute;
        top: 45%;
        left: 14%;
        font-size: 15px;
        
    }
    .csRadio__header-button-Urbanmix {
        position: absolute;
        top: 68%;
        left: 28%;
    }
  
}

@media screen and (max-width: 400px) {
    .csRadio__header-content-UrbanMix{
        top: 40%;
        left: 50%;
        font-size: 40px;
        text-align: center;
    }
    .csRadio__header-content-text-Urbanmix{
        top: 45%;
        left: 14%;
        font-size: 15px;
        
    }  
}

@media screen and (max-width: 380px) {
    .csRadio__header-content-UrbanMix{
        top: 44%;
        left: 50%;
        font-size: 40px;
    }  
    .csRadio__header-content-text-Urbanmix{
        top: 50%;
        left: 14%;
        font-size: 15px;
        
    }
    .csRadio__header-button-Urbanmix {
        position: absolute;
        top: 80%;
        left: 25%;
    }
}

