.Graph h1{
    margin-left: 32%;
    margin-top: 3%;
    font-size: 50px;
}
.Graph iframe{
    width:450px;
    height: 260px;
    border-style:  solid;
    margin-left: 70px;
}

.Graph-1{
    margin-top: 4%;
    margin-left: 20%;
}
.Graph-2{
    margin-top: 3%;
    margin-left: 20%;
}
.Graph-3{
    margin-top: 3%;
    margin-left: 20%; 
}

.sensor h1{
    margin-left: 32%;
    margin-top: 1%;
    font-size: 50px;
}
.sensor iframe{
    width:450px;
    height: 260px;
    border-style:  solid;
    margin-left: 70px;
}

.sensor-1{
    margin-top: 4%;
    margin-left: 20%;
    
}
.sensor-1-p{
    display: flex;
}
.soil{
    margin-left: 14%;
    
}
.temp{
    margin-left: 24%;
    
}
.sensor-2{
    margin-top: 4%;
    margin-left: 20%;
    
}
.sensor-1-p{
    display: flex;
}
.hum{
    margin-left: 14%;
    
}
.motion{
    margin-left: 48%;
    
}



