.ams__Footer{
    font-family: var(--font-family);
    padding: 2rem 6rem;
    background-color: rgb(56, 54, 54);
    height: 600px;
}

.ams_icon{
    display: flex;
}
.icon {
    padding: 5px;
    color: #fff;
    min-width: 50px;
    text-align: center;
    margin-left: 250px;
    margin-top: 20px;
    font-size: 50px;

  }
 .ams_footer-content{
    display: flex;
 } 
 .ams_footer-content-aboutus{
    background: rgb(122, 122, 124); 
    font-size: 20px; 
    padding: 10px; 
    border-radius: 25px;
    margin-left: 10%;
    margin-top: 5%;
    box-shadow: 2px 2px 30px rgb(44, 228, 75);
    width: 35%;
    color: #fff;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
 } 
 .ams_footer-content-contactus{
    background: rgb(122, 122, 124); 
    font-size: 20px; 
    padding: 10px; 
    border-radius: 25px;
    margin-left: 8%;
    margin-top: 5%;
    box-shadow: 2px 2px 30px rgb(44, 228, 75);
    width: 35%;
    color: #fff;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
 } 
.ams_footer-box{
    display: flex;
}
.ams__Footer-text{
    color: rgb(252, 244, 244);
    margin-left: 10%;
    margin-top: 10%;
}
.ams__Footer-Views{
    margin-left: 48%;
    color: rgb(252, 244, 244);
    margin-top: 10%;
}

@media screen and (max-width: 500px) {
    .ams__Footer{
        flex-direction: row;
    }

    .ams__Footer-text{
        color: white;
        margin-left: 1px;
        font-size: 10px;
        text-align: center;
    }

    .ams__Footer-Views{
        color: white;
        margin-left: 150px;
        font-size: 10px;
        text-align: center;
    }
    
}
@media screen and (max-width: 800px) {
    .ams__Footer{
        flex-direction: row;
        margin-left: 1px;
        padding: 2rem 1rem;
    }

    .ams__Footer-text{
        color: white;
        margin-left: 1px;
        font-size: 15px;
        text-align: center;
    }

    .ams__Footer-Views{
        color: white;
        margin-left: 150px;
        font-size: 15px;
        text-align: center;
    }
    
}